@import '../../data/global_styles.scss';

.missing{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    &__text{
        max-width: 550px;
        color: $black;
        margin: 3rem 3rem;
        & h2{
            margin-bottom: 1rem;
        }
    }
}