@import '../../data/global_styles.scss';

.groupnet{
    &__hero-image-container{
        position: absolute;
        top: 280px;
        left: 60%; 
        transform: translateX(-50%);
        z-index: -1;
        @media (max-width: $desktop){
            top: 320px;
        }
        @media (max-width: $tablet){
            top: 45vh;
            transform: translateX(-40%);
        }
    }
    &__hero-image{
        width: 950px;
        opacity: 0;
        animation: $fadein;
        @media (max-width: $desktop){
            width: auto;
            height: 80vh;
        }
        @media (max-width: $tablet){
            height: 60vh;
        }
    }
    &__highlights{
        position: absolute;
        top: 95vh;
        left: 15%;
        @media (max-width: $desktop){
            left: 50%;
            transform: translateX(-50%);
        }
        @media (max-width: $tablet){
            top: 95vh;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__parallax{
        position: relative;
        margin-top: 7.25rem;
        overflow: hidden;
        background-color: $gn-green;
        height: 550px;
        @media (max-width: $tablet){
            margin-top: 4rem;
            height: 300px;
        }
        & img{
            position: absolute;
            top: -700px;
            left: 50%;
            transform: translateX(-50%);
            width: 786px;
            @media (max-width: $tablet){
                width: 456px;
            }
        }
    }
    &__prototype{
        @media (max-width: $desktop){
        display: none;
        }
        &-link{
            display: none;
            @media (max-width: $desktop){
                display: block;
                max-width: 730px;
                margin: 32px auto 0;
            }
        }
    }
}