@import '../../data/global_styles.scss';

.homepage{
    &__dot{
        margin-top: 1rem;
        position: relative;
        &-circle{
            position: absolute;
            margin-left: -10px;
            height: 6px;
            width: 6px;
            background-color: $dark-grey;
            border-radius: 10px;
            animation: dotanimation 2s;
            animation-iteration-count: infinite;
            animation-timing-function:ease;
        }
    }
}

.active-link{
    opacity: 1;
}

.inactive-link{
    opacity: 0.2;
}