@import '../../data/global_styles.scss';

.homepage{
    &__dot{
        margin-top: 1rem;
        position: relative;
        &-circle{
            position: absolute;
            margin-left: -10px;
            height: 6px;
            width: 6px;
            background-color: $dark-grey;
            border-radius: 10px;
            animation: dotanimation 2s;
            animation-iteration-count: infinite;
            animation-timing-function:ease;
        }
    }
}

.active-link{
    opacity: 1;
}

.inactive-link{
    opacity: 0.2;
}

#wayfinder-mockup{
    position: absolute;
    z-index: -1;
    top: 10%;
    left: -20%;
    height: 690px;
    animation: $fadein;
    @media (max-width: $tablet){
        top:6%;
        left: -50%;
        height: 550px;
    }
}

#groupnet-mockup{
    position: absolute;
    z-index: -1;
    top: 20%;
    left: 6%;
    height: 610px;
    animation: $fadein;
    @media (max-width: $tablet){
        top:6%;
        left: -10%;
        height: 550px;
    }
}

#pcoptimum-mockup{
    position: absolute;
    z-index: -1;
    top: 15%;
    left: 2%;
    height: 584px;
    animation: $fadein;
    @media (max-width: $tablet){
        top:0%;
        left: -15%;
        height: 550px;
    }
}

@keyframes dotanimation {
    0% {top: 0px;}
    20% {top: -6px;}
    40% {top: 0px;}
}

@for $i from 1 through 3 {
    .homepage__dot *{
      &:nth-child(#{$i}) {
        animation-delay: 0.25s * $i;
        left: 10px * $i;
        }
    }
  }