@import '../../data/global_styles.scss';

.motion{
    background-color: $light-grey;
    &-hero{
        position: relative;
        &__content{
          position: absolute;
          display: flex;
          height: 95vh;
          width: 100%;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          z-index: 1;
        }
        &__text{
          color: $white;
          display: flex;
          flex-direction: column;
          flex-wrap: wrap;
          max-width: 1000px;
          margin: 0 4rem;
          opacity: 0;
          animation: $fadein;
          @media (max-width: $desktop){
            max-width: auto;
            margin: 0 8%;
          }
          a{
              color: $yellow;
              &:hover{
                  border-bottom: 2px solid $yellow;
              }
          }
        }
        &__paragraph{
            margin-top: 1rem;
            color: $white !important;
        }
        &__play-pause{
          position: absolute;
          bottom: 4rem;
          right: 4rem;
          z-index: 2;
          @media (max-width: $desktop){
            right: auto;
            left: 4rem;
          }
          @media (max-width: $tablet){
            left: 6%;
          }
        }
        &__video{
          display: block;
          height: 95vh;
          & video{
            object-fit: cover;
            width: 100%;
            height: 100%;
        }
      }
    }
    &__client-section{
      background-color: $white;
      padding: 6rem 0rem 0.1rem 0rem;
      @media (max-width: $tablet){
        padding: 2rem 0rem 0.5rem 0rem;
        margin-bottom: 4rem;
      }
    }
    &__container{
      margin-top: -16rem !important;
      @media (max-width: $tablet){
      margin-top: 0rem !important;
      }
    }
}