@import '../../data/global_styles.scss';

.pcoptimum{
    &__hero-image-container{
        position: absolute;
        top: 250px;
        left: 55%; 
        transform: translateX(-45%);
        z-index: -1;
    }
    &__hero-image{
        height: 85vh;
    }
    &__highlights{
        position: absolute;
        top: 95vh;
        left: 15%;
        @media (max-width: $desktop){
            left: 35%;
        }
        @media (max-width: $tablet){
            top: 90vh;
            left: 50%;
            transform: translateX(-50%);
        }
    }
    &__parallax{
        position: relative;
        margin-top: 7.25rem;
        overflow: hidden;
        background-color: $grey;
        height: 550px;
        @media (max-width: $tablet){
            margin-top: 4rem;
            height: 300px;
        }
        & img{
            position: absolute;
            top: -1900px;
            left: 50%;
            transform: translateX(-50%);
            width: 786px;
            @media (max-width: $tablet){
                width: 456px;
            }
        }
    }
    &__caption{
        text-align: center;
        margin: 32px auto 0;
        max-width: 630px;
        @media (max-width: $tablet){
            margin: 1rem auto 0;
        }
    }
}