@import '../../data/global_styles.scss';

.highlights2{
    background-color: $white;
    margin: 0px auto;
    padding: 300px 24px;

    &__title{
        grid-column: 1/ span 1;
        position: sticky;
        top: 30px;
        height: 140px;
        @media (max-width: $tablet){
            grid-column: 1/ span 4;
            position: static;
            height: auto;
        }
        & p{
            -webkit-transform-origin: 10% 90%;
            transform-origin: 10% 90%;
            -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
            position: absolute;
            width: 150px;
            @media (max-width: $tablet){
                -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
                position: static;
            }
        }
    }
    &__text{
        grid-column: 2/ span 7;
        @media (max-width: $tablet){
            grid-column: 1/ span 4;
        }
    }
    &__image-section{
        grid-column: 9/ span 4;
        @media (max-width: $tablet){
            grid-column: 1/ span 4;
        }
    }
    & img{
        width: 100%;
    }
}

.wide-section{
    background-color: $white;
    grid-template-rows: repeat(6, 1fr);
    padding: 0px 24px;
    margin: 0px auto;
    @media (max-width: $tablet){
      display: block;
    }
    &__photo{
        grid-column: 4/ span 9;
        grid-row: 1/ span 4;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @media (max-width: $desktop){
            grid-column: 3/ span 10;
            grid-row: 1/ span 3;
        }
        @media (max-width: $tablet){
            display: block;
        }
        & img {
            position: absolute;
            height: 100%;
            @media (max-width: $tablet){
                position: static;
                width: 100%;
            }
        }
    }
    &__text{
        padding: 64px 80px;
        background-color: $white;
        grid-column: 1/ span 8;
        grid-row: 4/ span 3;
        z-index: 2;
        @media (max-width: $desktop){
            grid-row: 3/ span 4;
        }
        @media (max-width: $tablet){
            padding: 0px;
            margin-bottom: 2rem;
        }
    }
    &__caption{
        margin-top: 2rem;
        grid-column: 10/ span 3;
        grid-row: 5/ span 2;
        @media (max-width: $desktop){
            grid-row: 4/ span 3;
        }
    }
}