@import '../../data/global_styles.scss';

.test{
    &__hero{
        background-color: $yellow;
        text-align: center;
        height: 100vh;
    }
    &__intro{
        background-color: $sand;
        text-align: center;
        height: 100vh;
    }
    &__cards{
        background-color: $white;
        top: 200vh;
        position: absolute;
        width: 100%;
        display: grid;
        @media (min-width: $tablet){
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(12, 1fr);
        }
        @media (max-width: $tablet){
            display: static;
        }
    }
    &__card{
        display: flex;
        grid-column: span 1;
        grid-row: span 6;
    }
}

.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}