@import '../../data/global_styles.scss';

.wayfinder{
    background-color: $medium-grey;
    &__container{
        margin-top: -16rem !important;
    }
    &__video-container {
        position: relative;
        height: 56.25vw; /* 16:9 */
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    &__hero-bg{
        display: block;
        background-image: url('../../images/wayfinder/wayfinder_photo1.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 90vh;
        filter: brightness(20%);
        margin-bottom: 160px;
        @media (max-width: $desktop){
          margin-bottom: 25vw;
        }
    }
    &__case-study{
        background-color: $white;
        padding-top: 10rem;
    }
}