@import '../../data/global_styles.scss';

#wayfinder{
    &__hero-image{
        position: absolute;
        top: 213px;
        left: 100px;
        width: 1318px;
        opacity: 0;
        animation: $fadein;
        z-index: -1;
        
    }
    &__highlights{
        margin-top: 430px;
        margin-left: 50%;
    }
}