@import '../../data/global_styles.scss';

.button{
    display: inline-block;
    cursor: pointer;
    background-color: $black;
    color: $white;
    min-width: 120px;
    padding: 1rem 3rem;
    text-align: center;
    border-radius: 60px;
    &:hover{
        background-color: $light-yellow;
        color: $black;
    }
    &:focus{
        background-color: $light-yellow;
        color: $black;
    }
    &:active{
        background-color: $light-yellow;
        color: $black;
    }
}
