@import '../../data/global_styles.scss';

.button{
    background-color: $black;
    color: $white;
    padding: 1.5rem;
    display: inline-block;
    cursor: pointer;
    &:hover{
        background-color: $yellow;
        color: $black;
    }
    &:focus{
        background-color: $yellow;
        color: $black;
    }
    &:active{
        background-color: $yellow;
        color: $black;
    }
}
