@import '../../data/global_styles.scss';

.carousel{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    &__text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40vw;
        @media (max-width: $wide){
            margin-left: 28vw;
        }
        @media (max-width: $desktop){
            margin-left: 10vw;
            justify-content: flex-end;
            height: 85vh;
        }
    }
    &__links{
        display: flex;
        flex-direction: column;
    }
    &__progress{
        width: 80px;
        background-color: $grey;
        margin-top:32px;
        &-bar{
            height: 2px;
            width: 0%;
            background-color: $black;
        }
        &-animation{
            animation: progressanimation 5s;
            animation-iteration-count: infinite;
            animation-timing-function:linear;
        }
    }
    &__more{
        margin-top:48px;
        @media (max-width: $tablet){
            margin-top: 20px;
        }
    }
}

.active-link{
    opacity: 1;
}

.inactive-link{
    opacity: 0.2;
}

#wayfinder-mockup{
    position: absolute;
    z-index: -1;
    top: 10%;
    left: -20%;
    height: 45vw;
    animation: $fadein;
    @media (max-width: $wide){
        height: 690px;
        left: -40%;
    }
    @media (max-width: $desktop){
        top:6%;
        right: -15%;
        left: auto;
        height: 550px;
    }
}

#groupnet-mockup{
    position: absolute;
    z-index: -1;
    top: 20%;
    left: 6%;
    height: 40vw;
    animation: $fadein;
    @media (max-width: $wide){
        height: 610px;
        left: -10%;
    }
    @media (max-width: $desktop){
        top:6%;
        right: -15%;
        left: auto;
        height: 550px;
    }
}

#pcoptimum-mockup{
    position: absolute;
    z-index: -1;
    top: 15%;
    left: 2%;
    height: 40vw;
    animation: $fadein;
    @media (max-width: $wide){
        top:5%;
        left: -10%;
        height: 584px;
    }
    @media (max-width: $desktop){
        top:0%;
        right: -15%;
        left: auto;
        height: 550px;
    }
}

@keyframes progressanimation {
    0% {width: 0%;}
    99% {width: 100%;}
    100%{width: 0%;}
}