@import '../../data/global_styles.scss';

.carousel{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40vw;
    &__links{
        display: flex;
        flex-direction: column;
    }
    &__progress{
        width: 80px;
        background-color: $grey;
        margin-top:48px;
        &-bar{
            height: 3px;
            width: 20%;
            background-color: $black;
        }
    }
    &__more{
        margin-top:48px;
    }
}