@import '../../data/global_styles.scss';

.carousel{
    height: 100vh;
    width: 100vw;
    position: relative;
    overflow: hidden;
    &__text{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40vw;
        @media (max-width: $tablet){
            margin-left: 10vw;
            justify-content: flex-end;
            height: 85vh;
        }
    }
    &__links{
        display: flex;
        flex-direction: column;
    }
    &__progress{
        width: 80px;
        background-color: $grey;
        margin-top:48px;
        &-bar{
            height: 3px;
            width: 20%;
            background-color: $black;
        }
    }
    &__more{
        margin-top:48px;
        @media (max-width: $tablet){
            margin-top: 20px;
        }
    }
}