@import '../../data/global_styles.scss';

.currently{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: $moss;
    padding: 2rem;
}

.currently h5{
    margin-bottom: 1rem;
}

.currently--list{
    display: flex;
    flex-wrap: wrap;
}

.currently--list-item{
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-bottom: 0px;
    &:last-of-type{
        margin-bottom:0px;
    }
    @media (max-width: $desktop){
        margin-bottom: 8px;
        &:last-of-type{
            margin-bottom:0px;
        }
    }
}
.currently--list-item img{
    margin-right: 0.5rem;
}