@import '../../data/global_styles.scss';

.footer{
    background-color: $darker-grey;
    color: $off-white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
    width: 100%;
}