@import '../../data/global_styles.scss';

.footer{
    background-color: $darker-grey;
    color: $off-white;
    width: 100%;
    &__content{
        padding: 4rem;
        @media (max-width: $desktop){
            padding: 4rem 2rem;
        }
        @media (max-width: $tablet){
            padding: 4rem 1rem;
        }
        &-left{
            grid-column: 1/ span 6;
            @media (max-width: $desktop){
                grid-column: 1/ span 5;
            }
            @media (max-width: $tablet){
                grid-column: 1/ span 4;
                margin-bottom: 1rem;
            }
        }
        &-right{
            grid-column: 7/ span 6;
            @media (max-width: $desktop){
                grid-column: 6/ span 7;
            }
            @media (max-width: $tablet){
                grid-column: 1/ span 4;
            }
        }
    }
    a{
        text-decoration: underline;
    }
}