@import '../../data/global_styles.scss';

.footer{
    background-color: $darker-grey;
    color: $off-white;
    &__content{
        padding: 4rem;
        @media (max-width: $tablet){
            padding: 4rem 1rem;
        }
        &-left{
            grid-column: 1/ span 6;
            @media (max-width: $tablet){
                grid-column: 1/ span 4;
                margin-bottom: 1rem;
            }
        }
        &-right{
            grid-column: 7/ span 6;
            @media (max-width: $tablet){
                grid-column: 1/ span 4;
            }
        }
    }
}