@import '../../data/global_styles.scss';

.homepage-hero{
  display: flex;
  height: 92vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $darker-grey;

  &__intro{
    padding: 7.5rem 0 0 7.5rem;

    @media (max-width: $desktop){
      padding: 3rem 1.5rem;
    }

    & h1{
      color: $off-white;
      margin-bottom: 1rem;
      opacity: 0;
      animation: $fadein;
    }

    & p{
      color: $off-white;
      margin-bottom: 4rem;
      max-width: 550px;
      opacity: 0;
      animation: $fadein;
      @media (max-width: $desktop){
        max-width: 400px;
      }
    }
    & a{
      opacity: 0;
      animation: $fadein;
    }
  }
  &__hello{
    color: $off-white;
    font-weight: 900;
    font-family: $heading-font-stack;
    font-size: 12rem;
    line-height: 1;
    text-indent: -8px;
    opacity: 0;
    animation: $fadein;
    @media (max-width: $desktop){
      font-size: 8rem;
    }
  }
}

.currently{
  align-self: flex-end;
  padding: 0 7.5rem 7.5rem 0;
  opacity: 0;
  animation: $fadein;

  @media (max-width: $desktop){
    padding: 0 1.5rem 3rem 1.5rem;
  }
  & h5{
    color: $off-white;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  &__item{
    color: $off-white;
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-bottom: 0px;
    &:last-of-type{
        margin-bottom:0px;
    }
    @media (max-width: $desktop){
        margin-bottom: 8px;
        &:last-of-type{
            margin-bottom:0px;
        }
    }
    & img{
      margin-right: 0.5rem;
    }
  }
}

@for $i from 1 through 4 {
  .homepage-hero *{
    &:nth-child(#{$i}) {
      animation-delay: 0.08s * $i;
      }
  }
}