@import '../../data/global_styles.scss';

.homepage-hero{
  display: flex;
  height: 95vh;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $black;
  padding: 0 5rem;
  @media (max-width: $desktop){
    padding: 0 4rem;
  }
  @media (max-width: $tablet){
    padding: 0 1.5rem;
  }

  &__intro{
    margin-top: 4rem;
    z-index: 2;
    @media (max-width: $desktop){
      margin-top: 2rem;
    }
    & h1{
      color: $white;
      margin-bottom: 1rem;
      opacity: 0;
      animation: $fadein;
    }

    & p{
      color: $white;
      margin-bottom: 4rem;
      max-width: 550px;
      opacity: 0;
      animation: $fadein;
      font-size: 1.2rem;
      line-height: 2rem;
      @media (max-width: $desktop){
        max-width: 400px;
        font-size: 1rem;
        line-height: 1.625rem;
      }
      @media (max-width: $tablet){
        max-width: 300px;
      }
    }
    & a{
      opacity: 0;
      animation: $fadein;
    }
  }
  &__hello{
    color: $white;
    font-weight: 900;
    font-family: $heading-font-stack;
    font-size: 12rem;
    line-height: 1;
    text-indent: -8px;
    opacity: 0;
    animation: $fadein;
    @media (max-width: $desktop){
      font-size: 10rem;
      text-indent: -3px;
    }
    @media (max-width: $tablet){
      font-size: 7rem;
      text-indent: -3px;
    }
  }
  &__portrait{
    position: absolute;
    height: inherit;
    overflow: hidden;
    right: 15vw;
    @media (max-width: $wide){
      right: -10vw;
    }
    @media (max-width: $desktop){
      right: -20vw;
    }
    @media (max-width: $tablet){
      right: 0px;
      width: 100%;
      display: flex;
      justify-content: center;
    }
    img {
      height: 120vh;
      margin-top: -100px;
      opacity: 0.8;
      @media (max-width: $tablet){
        height: 100vh;
        margin-top: 10px;
        opacity: 0.5;
      }
    }
  }
}

.currently{
  align-self: flex-end;
  opacity: 0;
  animation: $fadein;
  margin-bottom: 4rem;
  z-index: 2;
  @media (max-width: $tablet){
    margin-bottom: 2rem;
  }
  @media (max-height: 568px){
    display: none;
  }
  & h5{
    color: $white;
    text-transform: uppercase;
    margin-bottom: 1rem;
  }
  &__list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  &__item{
    color: $white;
    display: flex;
    flex-direction: row;
    margin-right: 2rem;
    margin-bottom: 0.5rem;
    &:last-of-type{
        margin-bottom:0px;
    }
    @media (max-width: $desktop){
        margin-bottom: 8px;
        &:last-of-type{
            margin-bottom:0px;
        }
    }
    & img{
      margin-right: 0.5rem;
    }
  }
}

@for $i from 1 through 4 {
  .homepage-hero *{
    &:nth-child(#{$i}) {
      animation-delay: 0.08s * $i;
      }
  }
}