@import '../../data/global_styles.scss';
@import '../../../node_modules/sass-mq/_mq.scss';

.homepage--hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;

  &-intro{
    padding: 0 1.5rem;
    max-width: 680px;

    @include mq(tablet){
      padding: 0 7.5rem;
    }

    & h1{
      margin-bottom: 1rem;
    }

    & p{
      margin-bottom: 4rem;
      max-width: 400px;
      @include mq(tablet){
        max-width: 550px;
      }
    }
  }
}

.bgvideo{
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("../../images/bgvideo.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -100;
}

.homepage--hero-bgvideo iframe{
  width: 100%;
  height: 100vh;
}