@import '../../data/global_styles.scss';

.menu{
    position: fixed;
    bottom:0px;
    right: 0px;
    width: 68px;
    height: 68px;
    margin-right: 48px;
    margin-bottom: 48px;
    z-index: 100;
    background: none; //removes default button styling
    border: none; //removes default button styling
    text-align: left; //removes default button styling
    padding: 0px; //removes default button styling
    cursor: pointer;
    &:hover .menu__circle{
        width: 45px;
        height: 45px;
        transition: width 0.2s, height 0.2s;
        transition-timing-function: ease-in-out;
        filter: brightness(80%);
    }
    &:focus{
        outline: none;
    }
    &:focus .menu__circle{
        border: 4px solid rgba(0, 103, 244, 0.3);
        box-shadow: 0px 0px 0px 4px rgba(0, 103, 244, 0.8);
        width: 50px;
        height: 50px;
    }

    &__icon{
        position: absolute;
        top: 19px;
        left: 15px;
        z-index: 20;
    }

    &__text{
        position: absolute;
        top: -400px;
        right: 50px;
        width: 400px;
        color: $white;
        list-style: none;
        display: flex;
        flex-direction: column;
        animation: $fadein;
    }

    &__circle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $grey;
        width: 68px;
        height: 68px;
        border-radius: 50%;
        filter: brightness(100%);
        transition: width 0.2s, height 0.2s, filter 0.2s;
        transition-timing-function: ease-in-out;
        &-open{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: $black;
            width: 1500px;
            height: 1500px;
            border-radius: 50%;
            z-index: -1;
            transition: width 0.2s, height 0.2s, background-color 0.2s;
            transition-timing-function: ease-in-out;
            
            @media (max-width: $desktop){
                width: 1300px;
                height: 1300px;
            }
            @media (max-width: $tablet){
                width: 1150px;
                height: 1150px;
            }
        }
    }
}