@import '../../data/global_styles.scss';

.menu__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    &:hover{
        text-decoration: underline;
        & img{
            filter: grayscale(0%);
        }
        & h3{
            color: $yellow;
        }
    }
    h3{
        @media (max-width: $tablet){
            font-size: 1.3rem;
        }
    }
    & img{
        width: 3.5rem;
        height: 100%;
        filter: grayscale(100%);
        margin-right: 2rem;
        @media (max-width: $tablet){
        width: 2.5rem;
        margin-right: 1rem;
        }
        @media (max-height: 568px){
            display: none;
        }
    }
}