@import '../../data/global_styles.scss';

.menu{
    position: fixed;
    bottom:0px;
    right: 0px;
    width: 68px;
    height: 68px;
    margin-right: 48px;
    margin-bottom: 48px;
    z-index: 100;
    background: none; //removes default button styling
    border: none; //removes default button styling
    text-align: left; //removes default button styling
    padding: 0px; //removes default button styling
    cursor: pointer;
    @media (max-width: $tablet){
        margin-right: 24px;
        margin-bottom: 24px;
    }
    &:hover .menu__circle{
        width: 68px;
        height: 68px;
        transition: width 0.2s, height 0.2s;
        transition-timing-function: ease-in-out;
        filter: brightness(80%);
    }
    &:hover .menu__icon{
        transform: rotate(-20deg);
        transition: transform 0.2s;
        transition-timing-function: ease-in-out;
    }
    &:focus{
        outline: none;
    }

    &__icon{
        position: absolute;
        top: 18px;
        left: 14px;
        z-index: 20;
        transition: transform 0.2s;
        transition-timing-function: ease-in-out;
    }

    &__text{
        position: absolute;
        top: -420px;
        right: 50px;
        width: 420px;
        color: $white;
        list-style: none;
        display: flex;
        flex-direction: column;
        animation: $fadein;
        @media (max-width: $tablet){
            top: -500px;
            width: 70vw;
        }
    }

    &__cta{
        margin-top: 32px;
        & img{
            float: left;
            margin-right: 16px;
        }
    }

    &__circle{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: $grey;
        width: 76px;
        height: 76px;
        border-radius: 50%;
        filter: brightness(100%);
        transition: width 0.2s, height 0.2s, filter 0.2s;
        transition-timing-function: ease-in-out;
        &-open{
            position: absolute;
            transform: translate(-60%, -60%);
            background-color: $black;
            width: 1040px;
            height: 1040px;
            border-radius: 50%;
            z-index: -1;
            transition: width 0.2s, height 0.2s, background-color 0.2s;
            transition-timing-function: ease-in-out;
            @media (max-width: $tablet){
                width: 1150px;
                height: 1150px;
            }
        }
    }
}