@import '../../data/global_styles.scss';

.menu__item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    &:hover{
        text-decoration: underline;
    }
    & img{
         width: 3.5rem;
         height: 100%;
         filter: grayscale(100%);
         margin-right: 2rem;
         @media (max-width: $tablet){
            display: none;
        }
    }
}