@import '../../data/global_styles.scss';

.motion-project{
    margin-bottom: 10rem;
    row-gap: 0px;
    @media (max-width: $tablet){
        margin-bottom: 4rem;
    }
    &__heading{
        grid-column: 2/ span 10;
        margin-bottom: 2rem;
        @media (max-width: $tablet){
            grid-column: 1/ span 4;
        }
    }
    &__video{
        grid-column: 2/ span 10;
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        margin-bottom: 2rem;
        background-color: $darker-grey;
        @media (max-width: $tablet){
            grid-column: 1/ span 4;
            margin-bottom: 1rem;
        }
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
        &-one{
            grid-column: 2/ span 5;
            padding-bottom: 100%;
            @media (max-width: $tablet){
                grid-column: 1/ span 4;
                margin-bottom: 1rem;
            }
        }
        &-two{
            grid-column: 7/ span 5;
            padding-bottom: 100%;
            @media (max-width: $tablet){
                grid-column: 1/ span 4;
                margin-bottom: 1rem;
            }
        }
    }
    &__caption{
        grid-column: 2/ span 3;
        @media (max-width: $tablet){
            grid-column: 1/ span 4;
            margin-bottom: 2rem;
        }
    }
    &__paragraph{
        grid-column: 6/ span 6;
        margin-bottom: 1rem;
        @media (max-width: $tablet){
            grid-column: 1/ span 4;
            margin-bottom: 0rem;
        }
    }
}