@import '../../data/global_styles.scss';

.project-highlights{
  margin-bottom: 4rem;
  &__text-section{
    grid-column: 2/ span 7;
    @media (max-width: $tablet){
        grid-column: 1/ span 4;
    }
  }
  &__highlight{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 56px;
    @media (max-width: $tablet){
      margin-bottom: 32px;
    }
  }
  &__icon{
    align-self: flex-start;
    flex-basis: 40px;
    width: 24px;
    margin-right: 24px;
    opacity: 0.8;
    @media (max-width: $tablet){
      margin-right: 16px;
      flex-basis: 5%;
    }
  }
  &__text{
    flex-basis: 80%;
    @media (max-width: $tablet){
      flex-basis: 88%;
    }
  }
  &__heading{
    margin-bottom: 16px;
    @media (max-width: $tablet){
      margin-bottom: 8px;
    }
  }
  &__image-section{
    grid-column: 9/ span 4;
    @media (max-width: $tablet){
      display: none;
        grid-column: 1/ span 4;
    }
  }
  &__caption{
    margin-top: 2rem;
  }
}