@import '../../data/global_styles.scss';

.images-section{
    grid-template-rows: repeat(8, 180px);
    margin-bottom: 4rem;
    @media (max-width: $tablet){
         display: block !important;
    }
    &__container{
        &-top{
            grid-column: 3/ span 3;
            grid-row: 1/span 3;
            @media (max-width: $tablet){
                grid-column: 1/ span 4;
                margin-bottom: 2rem;
            }
        }
        &-middle{
            grid-column: 8/ span 5;
            grid-row: 2/span 4;
            @media (max-width: $tablet){
                width: 100%;
                margin-bottom: 2rem;
            }
        }
        &-bottom{
            grid-column: 2/ span 5;
            grid-row: 5/span 3;
            @media (max-width: $tablet){
                grid-column: 1/ span 4;
                margin-bottom: 2rem;
            }
        }
    }
    &__text{
        margin-top: 2rem;
        padding: 64px 40px 0px 80px;
        background-color: $white;
        grid-column: 6/ span 7;
        grid-row: 6/ span 3;
        z-index: 2;
        @media (max-width: $desktop){
            grid-row: 5/ span 3;
        }
        @media (max-width: $tablet){
            margin-bottom: 2rem;
            padding: 0;
        }
    }
    &__caption{
        margin-top: 2rem;
        @media (max-width: $tablet){
            margin-top: 1rem;
        }
    }
}
