@import '../../data/global_styles.scss';

.project-next{
  background-color: #166AB7;
  color: $white;
  width: 100vw;
  margin-top: 7.25rem;
  &__container{
    position: relative;
    height: 330px;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }
  & img{
    position: absolute;
    top: -60px;
    left: 50px;
    width: 613px;
  }
  &__text{
    height: 100%;
    margin-left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}