@import '../../data/global_styles.scss';

.images-section{
    grid-template-rows: repeat(6, 180px);
    margin-bottom: 4rem;
    @media (max-width: $tablet){
         display: block !important;
    }
    &__container{
        &-top{
            grid-column: 9/ span 4;
            grid-row: 2/span 3;
            @media (max-width: $tablet){
                grid-column: 1/ span 4;
                margin-bottom: 4rem;
            }
        }
        &-middle{
            grid-column: 2/ span 6;
            grid-row: 4/span 4;
            @media (max-width: $tablet){
                width: 100%;
                margin-bottom: 4rem;
            }
        }
        &-bottom{
            grid-column: 9/ span 4;
            grid-row: 6/span 3;
            @media (max-width: $tablet){
                grid-column: 1/ span 4;
                margin-bottom: 4rem;
            }
        }
    }
    &__text{
        background-color: $white;
        grid-column: 1/ span 6;
        grid-row: 1/ span 3;
        z-index: 2;
        @media (max-width: $desktop){
            grid-row: 1/ span 3;
        }
        @media (max-width: $tablet){
            margin-bottom: 2rem;
            padding: 0;
        }
    }
    &__caption{
        margin-top: 2rem;
        @media (max-width: $tablet){
            margin-top: 1rem;
        }
    }
}
