@import '../../data/global_styles.scss';

.project-highlights{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $light-yellow;
  width: 535px;
  height: 535px;
  border-radius: 50%;
  &__text{
  display: flex;
  flex-direction: column;
  width: 340px;
  }
  & h4{
    margin-bottom: 32px;
  }
  &__highlight{
    display: flex;
    position: relative;
    margin-bottom: 24px;
  }
  &__icon{
    align-self: flex-start;
    width: 32px;
    margin-right: 24px;
  }
}