@import '../../data/global_styles.scss';

.project-feature{
  max-width: 926px;
  margin: 7.25rem auto 0;
  align-items: center;
  display: flex;
  @media (max-width: $tablet){
    flex-direction: column;
    margin: 4.5rem auto 0;
  }
  &__image{
    width: 439px;
    @media (max-width: $tablet){
    width: 100%;
    margin-top: 1.5rem;
    order: 2;
    }
  }
  &__text{
    margin-left: 48px;
    width: 439px;
    @media (max-width: $tablet){
      margin-left: 0px;
      margin-bottom: 1.5rem;
      width: 100%;
      order: 1;
    }
  }
}