@import '../../data/global_styles.scss';

.project-wide{
  background-color: $off-white;
  grid-template-rows: repeat(6, 1fr);
  margin-bottom: 8rem;
  @media (max-width: $tablet){
    margin-bottom: 4rem;
    display: block !important;
  }
  &-noimage{
    grid-template-rows: none;
  }
  &__photo{
    grid-column: 4/ span 9;
    grid-row: 1/ span 4;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    @media (max-width: $desktop){
        grid-column: 3/ span 10;
        grid-row: 1/ span 3;
    }
    &-right{
      grid-column: 2/ span 10;
    }
  }
  &__text{
    padding: 64px 80px 0px 0px;
    background-color: $off-white;
    grid-column: 2/ span 8;
    grid-row: 4/ span 3;
    z-index: 2;
    @media (max-width: $desktop){
        grid-row: 3/ span 4;
    }
    @media (max-width: $tablet){
        padding: 0px;
        margin-bottom: 2rem;
    }
    &-right{
      padding: 64px 40px 0px 80px;
      grid-column: 5/ span 9;
      @media (max-width: $tablet){
        padding: 0px;
      }
    }
  }
  &__heading{
    margin-bottom: 1rem;
  }
  &__caption{
    margin-top: 2rem;
    grid-column: 10/ span 3;
    grid-row: 5/ span 2;
    @media (max-width: $desktop){
        grid-row: 4/ span 3;
    }
    &-right{
      grid-column: 2/ span 3;
    }
  }
}