@import '../../data/global_styles.scss';

.project-next{
  background-color: #166AB7;
  color: $white;
  width: 100vw;
  &__container{
    position: relative;
    height: 358px;
    max-width: 1000px;
    margin: 0 auto;
    overflow: hidden;
  }
  & img{
    position: absolute;
    top: 40px;
    left: 50px;
    width: 613px;
  }
  &__text{
    margin-left: 50%;
    margin-top: 100px;
  }
}