@import '../../data/global_styles.scss';

.project-card{
    padding: 10%;
    width: 100%;
    transition: background-color 0.2s;
    transition-timing-function: ease-in-out;
    @media (max-width: $wide){
        border: solid 1px grey;
    }
    @media (max-width: $tablet){
        padding: 48px 24px;
    }

    h2{
        margin-bottom: 16px;
    }

    h4{
        color: $grey;
        margin-bottom: 16px;
    }

    &:hover{
        background-color: $black;

        & h2, p{
            color: $white;
        }

        & h4{
            color: $grey;
        }

        & img{
            filter: grayscale(0%);
        }

        & .project-card__circle{
            transform: scale(1.2);
            transition: all .2s ease-in-out;
            background-color: $dark-grey;
        }
    }     

    &__image-section{
        position: relative;
        margin-top: 16px;
        margin-bottom: 4rem;
        height: 350px;
        padding: auto;
        display: flex;
        justify-content: center;
        @media (max-width: $wide){
            margin-bottom: 0rem;
        }
        @media (max-width: $tablet){
            height: auto;
            margin-bottom: 4rem;
        }
    }

    & img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        max-width: 80%;
        filter: grayscale(100%);
        transition: filter 0.5s;
        transition-timing-function: ease-in-out;
        z-index: 2;
        @media (max-width: $tablet){
            max-width: 70%;
        }
    }
    &__circle{
        margin: auto;
        background-color: $black;
        height: 19vw;
        width: 19vw;
        border-radius: 50%;
        transition: all .2s ease-in-out;
        @media (max-width: $desktop){
            height: 25vw;
            width: 25vw;
        }
        @media (max-width: $tablet){
            height: 45vw;
            width: 45vw;
        }
    }
}
