@import '../../data/global_styles.scss';

.project-card{
    border: 1px solid $sand;
    padding: 10%;
    width: 100%;
    transition: background-color 0.2s;
    transition-timing-function: ease-in-out;
    @media (max-width: $tablet){
        padding: 48px 24px;
    }

    h2{
        margin-bottom: 16px;
    }

    h4{
        color: $sand;
        margin-bottom: 16px;
    }

    &:hover{
        background-color: $dark-grey;
        border-color: $dark-grey;

        & h2, h4, p{
            color: $off-white;
        }

        & img{
            filter: grayscale(0%);
        }

        & .project-card__circle{
            transform: scale(1.1);
            transition: all .2s ease-in-out;
        }
    }     

    &__image-section{
        position: relative;
        margin-top: 16px;
        height: 350px;
        padding: auto;
        display: flex;
        justify-content: center;
        @media (max-width: $tablet){
            height: auto;
        }
    }

    & img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        max-width: 80%;
        filter: grayscale(100%);
        transition: filter 0.5s;
        transition-timing-function: ease-in-out;
        z-index: 2;
    }
    &__circle{
        margin: auto;
        background-color: $sand;
        height: 22vw;
        width: 22vw;
        max-width: 350px;
        max-height: 350px;
        border-radius: 50%;
        transition: all .2s ease-in-out;
        @media (max-width: $desktop){
            height: 30vw;
            width: 30vw;
        }
        @media (max-width: $tablet){
            height: 60vw;
            width: 60vw;
        }
    }
}
