@import '../../data/global_styles.scss';

.pull-quote{
    padding: 6rem 0;
    @media (max-width: $tablet){
        padding: 2rem 0;
    }
    & p{
        grid-column: 5/ span 8;
        @media (max-width: $tablet){
            grid-column: 1/ span 4;
        }
    }
}