@import '../../data/global_styles.scss';

.pull-quote{
    margin-top: 7.25rem;
    padding: auto 10rem;
    background-color: #42955F;
    @media (max-width: $tablet){
        margin-top: 3.5rem;
    }
    &__text{
        padding: 10rem 0;
        max-width: 826px;
        margin:0 auto;
        @media (max-width: $tablet){
            padding: 3.5rem;
        }
    }
    &__author{
        color: $white;
        margin-top: 3.5rem;
        @media (max-width: $tablet){
            margin-top: 1.5rem;
        }
    }
}