@import url('https://fonts.googleapis.com/css?family=Muli|Poppins:700&display=swap');

body {
  background-color: #2D3435;
  font-family: 'Muli', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  color: #FAFAFA;
  margin: 0;
}

a {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  color: #FECC01;
}

h1{
  margin: 0;
  font-size: 3.998rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  line-height: 5rem;
}

h5{
  margin:0 ;
  font-size: 1rem;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  line-height: 1.5rem;
}

p{
  font-size: 1rem;
  margin: 0;
  line-height: 1.625rem;
}

.caption{
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.25rem;
}

.homepage--hero{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: #373D3E;
}

.homepage--hero-intro{
  margin: 0 0 0 7.5rem;
  max-width: 680px;
}

.homepage--hero-intro h1{
  margin-bottom: 1rem;
}

.homepage--hero-intro p{
  margin-bottom: 4rem;
}

.homepage--hero-bgvideo{
  position: absolute;
  left: 50%; /* % of surrounding element */
  top: 50%;
  width: 100%;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: -100;
  overflow: hidden;
}

.homepage--hero-bgvideo iframe{
  width: 100%;
  height: 100vh;
}