@import url('https://fonts.googleapis.com/css?family=Muli|Poppins:700,900&display=swap');

// font variables
$heading-font-stack: 'Poppins', sans-serif;
$body-font-stack: 'Muli', sans-serif;

// neutral color variables
$darker-grey: #2D3435;
$dark-grey: #373D3E;
$light-grey: #96999A;
$lighter-grey: #C7C7C7;
$off-white: #FFFEF2;
$beige: #FFFEF2;
$dark-beige: #F0EFE1;

//brand colors variables
$sand: #A59E86;
$moss: #7B7A61;
$earth: #837668;
$yellow: #FECC01;

//media queries
$mobile:  320px;
$tablet:  740px;
$desktop: 980px;
$wide:    1300px;

//fade animation
$fadein: FadeInAnimation 1s forwards cubic-bezier(0.2, 0.8, 0.2, 1);

@keyframes FadeInAnimation {
  0%{
    opacity: 0;
    transform: translateY(20px)
  }
  100%{
    opacity: 1;
    transform: translateY(0px)
  }
}

// html{
//   scroll-behavior: smooth;
// }

// typography
body {
  background-color: $darker-grey;
  font-family: $body-font-stack;
  -webkit-font-smoothing: antialiased;
  color: $darker-grey;
  margin: 0;
}
h1{
  margin: 0;
  font-weight: 700;
  font-family: $heading-font-stack;
  font-size: 3.998rem;
  line-height: 5rem;
}

h2{
  margin: 0;
  font-weight: 700;
  font-family: $heading-font-stack;
  font-size: 2.827rem;
  line-height: 3.5rem;
}

h3{
  margin: 0;
  font-weight: 700;
  font-family: $heading-font-stack;
  font-size: 1.999rem;
  line-height: 2.5rem;
}

h4{
  margin: 0;
  font-weight: 700;
  font-family: $heading-font-stack;
  font-size: 1.414rem;
  line-height: 2rem;
}

h5{
  margin:0 ;
  font-weight: 700;
  font-family: $heading-font-stack;
  font-size: 1rem;
  line-height: 1.5rem;
}

p{
  margin: 0;
  font-family: $body-font-stack;
  line-height: 1.625rem;
}

a{
  color: inherit;
  text-decoration: none;
}

.text-link {
  font-family: $heading-font-stack;
  font-size: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background: none;
  letter-spacing: 1px;
  color: $yellow;
  margin-right: 8px;
}

.large-p{
  font-size: 1.25rem;
  font-family: $body-font-stack;
  line-height: 2rem;
}

.pull-quote__global{
  font-size: 1.999rem;
  font-family: $body-font-stack;
  line-height: 3rem;
  color: $lighter-grey;
}

.caption{
  font-size: 0.875rem;
  font-family: $body-font-stack;
  line-height: 1.25rem;
}

@media (max-width: $desktop){
  h1{
    font-size: 3.4rem;
    line-height: 4rem;
  }
  h2{
    font-size: 1.999rem;
    line-height: 2.5rem;
  }

  h3{
    font-size: 1.414rem;
    line-height: 2rem;
  }

  h4{
    font-size: 1rem;
    line-height: 1.5rem;
  }
}

@media (max-width: $tablet){
  h1{
    font-size: 2.1rem;
    line-height: 3rem;
  }
  .pull-quote__global{
    font-size: 1.25rem;
    line-height: 2rem;
  }
}

// general purpose styles
.page-container{
  margin: 0 auto;
  max-width: 1120px;
  @media (max-width: $wide){
    margin: 0 64px;
  }
  @media (max-width: $desktop){
    margin: 0 64px;
  }
  @media (max-width: $tablet){
    margin: 0 16px;
  }
}

.grid{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 48px;

  @media (max-width: $tablet){
      grid-template-columns: repeat(4, 1fr);
      column-gap: 16px;
  }
}

.section-title{
  position: sticky;
  top: 30px;
  margin-bottom: 10rem;
  margin-left: 2rem;
  @media (max-width: $wide){
    margin-left: 0rem;
  }
  @media (max-width: $tablet){
      position: static;
      margin-bottom: 1rem;
      margin-left: 1rem;
  }
  & h5{
      text-align: right;
      color: $sand;
      text-transform: uppercase;
      letter-spacing: 1px;
      word-spacing: 3px;
      position: absolute;
      width: 205px;
      -webkit-transform-origin: 50% 390%;
      transform-origin: 50% 390%;
      -webkit-transform: rotate(270deg);
      transform: rotate(270deg);
      @media (max-width: $tablet){
          -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
          position: static;
          text-align: left;
      }
  }
    
}