@import '../data/global_styles.scss';

.page-container{
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;

    @media (max-width: $wide){
        margin: 0 32px;
    }

    @media (max-width: $desktop){
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 16px;
    }
}